<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homePage.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <div id="container-header">
            <span>
                <img id="header-logo" src="/img/Logo para camiseta preta MOD 1.png" alt="" width="300" height="150">
            </span>
            <div>
                <ul id="header-li-left">
                    <li class="h-li-left"><b>Almofadas</b></li>
                    <li class="h-li-left"><b>Azuleijos</b></li>
                    <li class="h-li-left"><b>Camisetas</b></li>
                    <li class="h-li-left"><b>Canecas</b></li>
                    <li class="h-li-left"><b>Chaveiros</b></li>
                </ul>
            </div>
            <div>
                <ul id="header-li-right">
                    <li class="h-li-right"><b>Contato</b></li>
                    <li class="h-li-right"><b>Cadastre-se</b></li>
                </ul>
            </div>
        </div>
    </header>
    <main>    
    </main>
</body>
</html>