<%- include('./partials/head') %>
    <main>
        <section>
            <span>
                <h1>
                    <b><%=ms.title_impact_2%></b>
                </h1>
            </span>
            <div id="constainer-home-produtos">
                <div class="home-produtos">
                    <h3>Produtos</h3>
                    <div class="home-produtos-image">
                        <img class="h-produtos-image" src="/img/caneca.svg" alt="">
                    </div>
                </div>
                <div class="home-produtos">
                    <h3>Produtos</h3>
                    <div class="home-produtos-image">
                        <img class="h-produtos-image" src="/img/caneca.svg" alt="">
                    </div>
                </div>
                <div class="home-produtos">
                    <h3>Produtos</h3>
                    <div class="home-produtos-image">
                        <img class="h-produtos-image" src="/img/caneca.svg" alt="">
                    </div>
                </div>
                <div class="home-produtos">
                    <h3>Produtos</h3>
                    <div class="home-produtos-image">
                        <img class="h-produtos-image" src="/img/caneca.svg" alt="">
                    </div>
                </div>
                <div class="home-produtos">
                    <h3>Produtos</h3>
                    <div class="home-produtos-image">
                        <img class="h-produtos-image" src="/img/caneca.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>