<%- include('./partials/head') %>
    <main>
        <section>
            <h1>Para inserção de produtos</h1>
            <form method="post" action="/store/products" enctype="multipart/form-data">
                <div>
                    <label class="form-label" for="theme-id">Tema</label>
                    <input type="text" class="form-control" name="theme" id="theme-id">
                </div>
                <div>
                    <label class="form-label" for="category-id">Categoria</label>
                    <input type="text" class="form-control" name="category" id="category-id">
                </div>
                <div>
                    <label class="form-label" for="mark-id">Marca</label>
                    <input type="text" class="form-control" name="mark" id="mark-id">
                </div>
                <div>
                    <label class="form-label" for="type-id">Tipo</label>
                    <input type="text" class="form-control" name="type" id="type-id">
                </div>
                <div>
                    <label class="form-label" for="color-id">Cor</label>
                    <input type="text" class="form-control" name="color" id="color-id">
                </div>
                <div>
                    <label class="form-label" for="quantity-id">Quantidade</label>
                    <input type="number" class="form-control" name="quantity" id="quantity-id">
                </div>
                <div>
                    <label class="form-label" for="costPrice-id">Custo</label>
                    <input type="text" class="form-control" name="costPrice" id="costPrice-id">
                </div>
                <div>
                    <label class="form-label" for="salePrice-id">venda</label>
                    <input type="text" class="form-control" name="salePrice" id="salePrice-id">
                </div>
                <div>
                    <label class="form-label" for="specialPrice-id">Promoção</label>
                    <input type="text" class="form-control" name="specialPrice" id="specialPrice-id">
                </div>
                <div>
                    <label class="form-label" for="description-id">Descrição</label>
                    <input type="text" class="form-control" name="description" id="description-id">
                </div>
                <div>
                    <label class="form-label" for="img-id">Imagem</label>
                    <input type="file" accept="image" class="form-control" name="avatar" id="img-id">
                </div>

                <button type="submit" class="btn-btn-primary">Enviar</button>
            </form>  
        </section>
    </main>
<%- include('./partials/footer') %>